/* Set global font family for the entire HTML document */
html {
  font-family: 'REM', sans-serif;
}

/* Styling for h1 headings */
h1 {
  font-weight: bold;
  font-size: 3rem;
}

/* Styling for h2 headings */
h2 {
  font-weight: bold;
  font-size: 2rem;
}

/* Styling for paragraphs */
p {
  font-size: 1rem;
}

/* Ensure consistent padding and margin for all container sections */
.container {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

/* Remove any extra margin that may cause inconsistent spacing */
section {
  margin-left: auto;
  margin-right: auto;
}


/* Define custom color variables for the color scheme */
:root {
  --primary-color: white;
  --secondary-color: black;
}

/* Style the navigation bar with the primary color from the custom variables */
.navbar {
  background-color: var(--primary-color);
}